$color-primary:  rgb(11, 168, 185);
$color-primary-dark: rgb(0, 137, 179);
$color-primary-light: rgb(46, 183, 214);
$color-white: #ffff;
$color-heading: rgb(187, 103, 0);
$color-black: rgb(114, 100, 100);
$color-gray-dark: rgb(71, 71, 71);