//colors
$color-primary:  rgb(0, 159, 177);
$color-primary-dark: rgb(1, 104, 136);
$color-primary-light: rgb(45, 208, 245);
$color-white: #ffff;
$color-heading: rgb(187, 103, 0);
$color-black: rgb(0, 0, 0);
$color-gray-dark: rgb(51, 41, 41);
$color-gray-light-1: #f8f8f8;
$color-secondary-light:rgb(255, 169, 9);
$color-secondary-dark: rgb(238, 81, 8);
$color-tertiary-light:#2998ff;
$color-tertiary-dark: #3b26f5;

//font

$default-font-size:1.6rem;

//grid width
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;