@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 2.5rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%); }
  70% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15%); }
  70% {
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #bb6700;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /* animation-iteration-count: 2; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 1.88rem;
    animation: moveInRight 1s 1s linear;
    margin-bottom: 5%; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 3.5rem;
  transition: all .5s;
  position: relative;
  font-weight: 600;
  font-size: 1.8rem; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(114, 100, 100, 0.6); }
  .btn:hover::after {
    transform: scalex(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(114, 100, 100, 0.6); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #ffff;
  color: #474747; }
  .btn--white::after {
    background-color: #ffff; }

.btn--animated {
  animation: moveInButtom 1s ease-out 1s;
  animation-fill-mode: backwards; }

.header {
  height: 90vh;
  background-image: linear-gradient(to bottom left, rgba(46, 183, 214, 0.5), rgba(0, 137, 179, 0.5)), url(../images/harley-davidson-zGzXsJUBQfs-unsplash.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0.75% 100%); }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
    text-align: center; }
