@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%); }
  70% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15%); }
  70% {
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 2.5rem; }

.heading-primary {
  color: #bb6700;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4.7rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /* animation-iteration-count: 2; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 1.88rem;
    animation: moveInRight 1s 1s linear;
    margin-bottom: 5%; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #2dd0f5, #bb6700);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 0.5rem 0.1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  color: #332929;
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  color: #332929;
  font-size: 1.3rem;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 3.5rem;
  transition: all .5s;
  position: relative;
  font-weight: 600;
  font-size: 1.8rem;
  color: #332929; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
  .btn:hover::after {
    transform: scalex(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #ffff;
  color: #332929; }
  .btn--white::after {
    background-color: #ffff; }

.btn--animated {
  animation: moveInButtom 1s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #009fb1;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #009fb1;
  padding: .5rem;
  font-size: 1.6rem;
  transition: all .4s; }

.btn-text:hover {
  background-color: #009fb1;
  color: #ffff;
  border-radius: 1.5rem;
  padding: .75rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem); }

.btn-text:active {
  box-shadow: 0 1rem 1.25rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.composition {
  cursor: pointer;
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    border-radius: .75rem;
    position: absolute;
    transition: all .2s;
    z-index: 5;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.35rem solid #009fb1;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 2rem 1.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  transition: all .4s;
  height: 37rem; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #bb6700, #009fb1);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    color: #332929;
    text-align: justify; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  cursor: pointer; }
  .card__side {
    height: 45rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    backface-visibility: hidden;
    border-radius: 1.15rem;
    overflow: hidden;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.6); }
    .card__side--front {
      background-color: #ffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #faa912, #ee5108); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #2dd0f5, #016888); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #bb6700, #2b1aca); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    border-radius: 1.15rem 1.15rem 0 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #faa912, #ee5108), url(../images/kat-nelson-GfQtCsCD8Nk-unsplash.jpg);
      background-blend-mode: multiply; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2dd0f5, #016888), url(../../images/nijwam-swargiary-ofdJewkVTok-unsplash.jpg);
      background-blend-mode: saturation; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #bb6700, #2b1aca), url(../images/laura-chouette-S8PzyvvxjBo-unsplash.jpg);
      background-blend-mode: hard-light; }
  .card__heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffff;
    text-align: center;
    position: absolute;
    top: 18rem;
    right: .75rem;
    width: 60%; }
  .card__heading-span {
    padding: .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(250, 169, 18, 0.8), rgba(238, 81, 8, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(45, 208, 245, 0.8), rgba(1, 104, 136, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(187, 103, 0, 0.8), rgba(43, 26, 202, 0.8)); }
  .card__details {
    padding: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        color: #332929;
        text-align: center;
        font-size: 1.3rem;
        padding: .75rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.75px solid rgba(51, 41, 41, 0.75); }
  .card__cta {
    color: #332929;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-25%, -15%); }
  .card__price-value {
    font-size: 2.8rem;
    font-weight: 500;
    padding: 5%;
    letter-spacing: 3px; }
    .card__price-value-1 {
      margin-bottom: 4rem;
      color: #2b1aca; }
    .card__price-value-2 {
      margin-bottom: 8rem;
      color: #332929; }
    .card__price-value-3 {
      margin-bottom: 8rem;
      color: #faa912; }

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 4rem 7rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: .5rem;
  padding: 7.75rem;
  padding-left: 9rem;
  font-size: 1.4rem;
  color: #332929;
  transform: skewX(-10deg);
  cursor: pointer; }
  .story__shape {
    width: 18rem;
    height: 18rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translatex(-3rem) translateY(-0.9rem) skewX(12deg); }
  .story__img {
    height: 100%;
    transform: translateX(-4rem);
    transition: all .4s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-37%, 60%);
    color: #009fb1;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-37%, -5%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1.15);
    filter: blur(0.4rem) brightness(70%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 90vh;
  background-image: linear-gradient(to bottom left, rgba(45, 208, 245, 0.5), rgba(1, 104, 136, 0.5)), url(../images/harley-davidson-zGzXsJUBQfs-unsplash.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 1.25rem; }
  .row:nth-child(1) {
    margin-top: 2rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }

/*class^ select all the class start with 'col-', class* select all the class that contains col-, class$ select all the class that ends with col- */
[class^='col-'] {
  float: left;
  margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }
  .col-1-of-2:nth-child(2) {
    margin-right: 0; }

.col-1-of-3 {
  width: calc((100% - 120px)/3); }
  .col-1-of-3:nth-child(3) {
    margin-right: 0; }

.col-1-of-4 {
  width: calc((100% - 180px)/4); }
  .col-1-of-4:nth-child(4) {
    margin-right: 0; }

.section-about {
  background-color: #f8f8f8;
  padding: 15rem 0;
  margin-top: -10vh; }

.section-features {
  margin-top: -5.75rem;
  padding: 15rem 0;
  background-image: linear-gradient(to bottom left, rgba(187, 103, 0, 0.7), rgba(1, 104, 136, 0.6)), url(../../images/alexandro-espinar-H4g8NIs-_7A-unsplash.jpg);
  background-size: cover;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  background-color: #f8f8f8;
  padding: 20rem 0 5rem 0;
  margin-top: -8rem; }

.section-stories {
  position: relative;
  padding: 10rem 0;
  text-align: center; }
