@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%); }
  70% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15%); }
  70% {
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 2.5rem; }

.heading-primary {
  color: #bb6700;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4.7rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /* animation-iteration-count: 2; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 1.88rem;
    animation: moveInRight 1s 1s linear;
    margin-bottom: 5%; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #2dd0f5, #016888);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 0.5rem 0.1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.3rem;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10vh; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 3.5rem;
  transition: all .5s;
  position: relative;
  font-weight: 600;
  font-size: 1.8rem; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
  .btn:hover::after {
    transform: scalex(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #ffff;
  color: #474747; }
  .btn--white::after {
    background-color: #ffff; }

.btn--animated {
  animation: moveInButtom 1s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #009fb1;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #009fb1;
  padding: .5rem;
  font-size: 1.6rem;
  transition: all .4s; }

.btn-text:hover {
  background-color: #009fb1;
  color: #ffff;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem); }

.btn-text:active {
  box-shadow: 0 1rem 1.25rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.header {
  height: 90vh;
  background-image: linear-gradient(to bottom left, rgba(45, 208, 245, 0.5), rgba(1, 104, 136, 0.5)), url(../images/harley-davidson-zGzXsJUBQfs-unsplash.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 1.25rem; }
  .row:nth-child(1) {
    margin-top: 2rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }

/*class^ select all the class start with 'col-', class* select all the class that contains col-, class$ select all the class that ends with col- */
[class^='col-'] {
  float: left;
  margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }
  .col-1-of-2:nth-child(2) {
    margin-right: 0; }
