.composition{
    cursor: pointer;
    position: relative;
    &__photo{
        width: 60%;
        box-shadow: 0 2rem 4rem rgba($color-black, .6);
        border-radius: .75rem;
        position: absolute;
        transition: all .2s;
        z-index: 5;
        outline-offset: 1rem;

         @include respond(tab-port){
        float: left;
        position: relative;
        width: 33.33%;
    }
        
        &--p1{
            left: 1rem;
            top: -2rem;
        @include respond(tab-port){
            left: 2rem;
            top: 1rem;
            transform: scale(1.1);
            z-index: 4;
        }
        }
       &--p2{
           right: 0;
            top: 2rem;
            @include respond(tab-port){
            top: -1rem;
            transform: scale(1.2);
            z-index: 5;
        }
        }
       &--p3{
            left: 20%;
            top: 10rem;
            @include respond(tab-port){
            top: 1rem;
           left: -2rem;
           transform: scale(1.1);
           z-index: 4;
        }
        }
    &:hover{
        outline: .35rem solid $color-primary;
        transform: scale(1.07) translateY(-.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .7);
        z-index: 10;
    }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}