body{
    font-family: 'Merriweather', sans-serif;
font-weight: 400;
/* font-size: 16px; */
line-height: 1.7;
}
.heading-primary{
color: $color-heading;
text-transform: uppercase;
backface-visibility: hidden;

&--main{
display: block;
font-size: 4.7rem;
font-weight: 400;
letter-spacing: 1.5rem;
animation-name: moveInLeft;
animation-duration: 1s;
animation-delay: 1s;
animation-timing-function: linear;
/* animation-iteration-count: 2; */

  @include respond(tab-land){
    font-size: 4rem;
    letter-spacing: 1rem;
}

  @include respond(tab-port){
    font-size: 3.8rem;
    letter-spacing: .5rem;
}

@include respond(phone){
    letter-spacing: .15rem;
    font-size: 3.4rem;
}
}
&--sub{
display: block;
font-size: 2.7rem;
font-weight: 500;
letter-spacing: 1.88rem;
animation: moveInRight 1s 1s linear;
margin-bottom: 5%;

@include respond(tab-land){
    letter-spacing: 1rem;
}

  @include respond(tab-port){
    letter-spacing: .5rem;
    font-size: 2.5rem;
}

@include respond(phone){
    letter-spacing: .2rem;
    font-size: 2.3rem;
}
}
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-heading);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    transition: all .2s;

    @include respond(tab-land){
    font-size: 3rem;
}

    @include respond(tab-port){
        font-size: 2.8rem;
    }
     @include respond(phone){
        font-size: 2.5rem;
    }
   

&:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05 );
    text-shadow: .5rem .1rem 2rem rgba($color-black, 0.5);
}
}
.heading-tertiary{
color: $color-gray-dark;
font-size: $default-font-size;
text-transform: uppercase;

}
.paragraph{
color: $color-gray-dark;
font-size: 1.3rem;
text-align: justify;
&:not(:last-child){         //select everything accept last child
margin-bottom: 3rem;
}
}